.padding-10 {
    padding: 10px;
}

.margin-10 {
    margin: 10px;
}

#container {
    height: 200px;
}

div {
    border: 1px solid gray;
    display: flex;
    background-color: white;
}

.parent {
    width: 100%;
}

.child {
    width: 50%;
}

.active {
    background-color: #e74f4d;
}
